@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Gilroy, Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background: #f1f1f1;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffbc99;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: rgba(28, 28, 28, 0.08);
}
